@type-area-line-height: 20px;

// desktop screen
@media only screen and (min-width: 769px) {
  .grid-container {
    margin: 50px auto;
    width: 60%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: "creation result"
                         "creation result"
                         "search result"
                         "search result";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

// mobile screen
@media only screen and (max-width: 768px) {
  .grid-container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "creation"
                         "creation"
                         "search"
                         "search"
                         "result"
                         "result";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}


.section-title {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-checkbox {
  margin-bottom: 5px;
}

.label-text {
  font-size: 15px;
  font-weight: normal;
}

.type-area {
  resize: none;
  width: 100%;
  line-height: @type-area-line-height;
  height: @type-area-line-height*10;
  box-sizing: border-box;
}

.word-creation {
  grid-area: creation;
}

.wanna-search {
  grid-area: search;
}

.result {
  grid-area: result;

  .section-content {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre;
    height: 100%;
  }
}