@type-area-line-height: 20px;

.section {
  width: 20%;
  margin: 50px auto 0;
}

.section-title {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}

.label-text {
  font-size: 15px;
  font-weight: normal;
}

.type-area {
  resize: none;
  width: 100%;
  line-height: @type-area-line-height;
  height: @type-area-line-height*10;
  box-sizing: border-box;
}